body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.title-logo{
    margin-top: 20px;
    height: 80px;
    width: 80px;
}

.title-super{
    font-size: 40px;
}

.navbar-brand{
    margin-left: 50px;
}

hr {
    display: block;
    border: none;
    height: 5px;
    color: #333;
    background: #333;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#333), to(#222));
}

